  @import '../../styles/mixins.scss';

.list-dark{
  @include list_sidebar;
  li{
    &:hover{
      background: rgba(255,255,255, 0.4);
    }
    &.active{
      background: blueviolet;
    }
  }
}

.list{
  @include list_sidebar;
  li{
    &:hover{
      background: rgba(255,255,255, 0.4);
    }
    &.active{
      background: #FFFFFF;
    }
  }
}