* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 10px;
  font-size: 14px;
  &__sidebar{
    background-color: #f4f6f8;
    width: 200px;
    height: calc(100% - 120px);
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }
}

.button{
  color: #ffffff;
  background: #4DD599;
  border-radius: 4px;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  &:hover{
    background: darken(#4DD599, 6%);
  }
  &:active{
    background: darken(#4DD599, 12%);
  }
}

.field {
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  &:focus {
    border-color: #dbdbdb;
  }
}