@import './styles/mixins.scss';
* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background: url("https://images7.alphacoders.com/510/thumb-1920-510173.jpg");
}
.todos{
  @include app_full;
  background: #18181b;
  color: white;
  &__sidebar{
    color: #f1f1f1;
    background-color: #1f1f23;
    border-right: 1px solid blueviolet;
  }
}
.todo{
  @include app_full;
  background: white;
  &__sidebar{
    background-color: #f4f6f8;
    border-right: 1px solid #f1f1f1;
  }
}

.button{
  color: #ffffff;
  background: #4DD599;
  border-radius: 4px;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  &:hover{
    background: darken(#4DD599, 6%);
  }
  &:active{
    background: darken(#4DD599, 12%);
  }
  &:disabled {
    background: #d8d8d8;
  }
  &--grey{
    background: #adb7c7;
    color: #444444;
    &:hover{
      background: darken(#adb7c7, 3%);
    }
    &:active{
      background: darken(#adb7c7, 5%);
    }
  }
}

.field {
  font-size: 14px;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  &:focus {
    border-color: #dbdbdb;
  }
}

.day_night__theme{
  background-color: gainsboro;
  padding: 5px 10px;
  position: absolute;
  color: #444444;
  border-radius: 50%;
  top: 25px;
  right: 50px;
  font-size: 25px;
  display: inline-flex;
  span{
    margin-top: 5px;
  }
  &:hover{
    background: #314a59;
    color: white;
    transition: 0.15s ease-in-out
   }
}